@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ripple {
    0% {
      opacity: 0.5;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }
  
  .bg-ripple {
    background: radial-gradient(circle, rgba(230, 126, 34, 0.3) 20%, transparent 50%);
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .group-hover:animate-ripple {
    animation: ripple 1.5s ease-out infinite;
  }
  @keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-wave {
    animation: wave 2s infinite;
  }
  
  .bg-gold {
    background-color: gold;
  }
  